html{
    background-color: rgb(255, 255, 255);
}

/*Begin keuzemenu*/
.Keuzemenu{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 39px;
}

.flex-container {
    display: flex;
  }
  
.flex-container > div {
    background-color: #f5f5f5;
  }

.Keuzemenu li{
    list-style:none;
    margin-right: 30px;
}

.Keuzemenu a{
    display: block;
    width: 71px;
    height: 86px;
    background-image: url(../images/css_sprites.png);
    text-indent: -9999px;
    background-repeat: no-repeat;
}

.km-maken a{
    background-position: 0 -86px;
}

.km-wijzigen a{
    background-position: -142px -86px;
}

.km-annuleren a{
    background-position: -71px -0;
}

.km-maken a:hover{
    background-position: -142px -0;
}

.km-wijzigen a:hover{
    background-position: -86px -71px;
}

.km-annuleren a:hover{
    background-position: -0px -0px;
}

/*Einde keuzemenu*/

/*Clearfix method*/
.group:before,
.group::after{
    content: "";
    display: table;
}

.group:after{
    clear: both;
}

.group {
    zoom: 1;
}
/*Einde Clearfix method*/