html{
    background-color: rgb(255, 255, 255);
}

.container{
    background-color: #ececec;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    border: 2px solid rgb(31, 83, 75);
}
.Titel{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-family: "Trebuchet MS";
    font-size: large;
    border-bottom: 2px solid rgb(102, 102, 102);
}

.welkom{
    margin-bottom: 40px;
}

.welkom h3{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    border-bottom: 2px solid rgb(102, 102, 102);
}

.welkom img{
    width: 95%;
    height: auto;
    text-align: center;
}

/*Begin keuzemenu*/

.Keuzemenu li{
    list-style:none;
    margin-right: 40px;
    margin-bottom: 20px;
}

.Keuzemenu a{
    display: block;
    text-decoration: none;
    background-color: rgb(118, 23, 206);
    padding: 10px 150px;
    border: 2px solid rgb(76, 5, 143);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: white;
}

.Keuzemenu a:hover{
    background-color: rgb(100, 0, 194);
}
/*Einde keuzemenu*/

.Laatste-nieuws{
    border-top: 2px solid rgb(102, 102, 102);
    border-bottom: 2px solid rgb(102, 102, 102);
}

/*Clearfix method*/
.group:before,
.group::after{
    content: "";
    display: table;
}

.group:after{
    clear: both;
}

.group {
    zoom: 1;
}
/*Einde Clearfix method*/
