/*Einde keuzemenu*/
.reservation a{
color: white;
font-size: 10px;
}

.verwijder-btn-nee{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(206, 23, 38);
    color: white;
    padding: 10px 0;
    border: 1px solid rgb(187, 13, 27);
    border-radius: 3px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.verwijder-btn-nee:hover,
.verwijder-btn-nee:focus{
    border: 1px solid rgb(146, 2, 14);
    background-color: rgb(173, 15, 28);
}

.verwijder-btn-ja{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(3, 150, 35);
    color: white;
    padding: 10px 0;
    border: 1px solid rgb(3, 131, 31);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.verwijder-btn-ja:hover,
.verwijder-btn-ja:focus{
    border: 1px solid rgb(2, 92, 22);
    background-color: rgb(10, 122, 34);
}




/*Clearfix method*/
.group:before,
.group::after{
    content: "";
    display: table;
}

.group:after{
    clear: both;
}

.group {
    zoom: 1;
}
/*Einde Clearfix method*/
