.login-container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.login-card .login-form {
    background-color: #f5f5f5;
}

.login-page header .Titel {
    max-width: 350px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
}

.Titel img{
    max-width: 350px;
}

.login-card .form-row {
    padding: 20px 40px;
}

.login-card footer {
    text-align: center;
    font-size: small;
}

.logo{
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 20px;
}

.logo img{
    border-radius: 50px;
}
