html{
    background-color: rgb(255, 255, 255);
}

img{
    border: 2px solid rgb(31, 83, 75);
}

.Titel{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-family: "Trebuchet MS";
    font-size: large;
    border-bottom: 2px solid rgb(102, 102, 102);
}
.container{
    background-color: #ececec;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Reservering-maken{
    text-align: center;
    border-bottom: 2px solid rgb(102, 102, 102);
    margin-top: 5px;
}

.Conflicten{
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid rgb(102, 102, 102);
}

.Opmerkingen{
    text-align: center;
    padding: 20px;
}

/*form style*/
form{
    background-color: #ececec;
    padding: 20px 40px;
}

.Annuleren{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(206, 23, 38);
    color: white;
    padding: 10px 0;
    border: 1px solid rgb(187, 13, 27);
    border-radius: 3px;
    margin-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.Annuleren:hover,
.Annuleren:focus{
    border: 1px solid rgb(146, 2, 14);
    background-color: rgb(173, 15, 28);
}

.Bevestigen{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(3, 150, 35);
    color: white;
    padding: 10px 0;
    border: 1px solid rgb(3, 131, 31);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.Bevestigen:hover,
.Bevestigen:focus{
    border: 1px solid rgb(2, 92, 22);
    background-color: rgb(10, 122, 34);
}

input[type="Date"],
input[type="Time"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    border: 1px solid rgba(61, 60, 61, 0.664);
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
}

input[type="Date"]:focus,
input[type="Time"]:focus{
    border: 2px solid rgba(156, 13, 161, 0.973);
    box-shadow: inset 2px 2px 2px rgba(231, 143, 243, 0.87);
}

select{
    -webkit-appearance: none;
    background-color: white;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    border: 1px solid rgba(61, 60, 61, 0.664);
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    margin-bottom: 5px;    
}