html{
    background-color: rgb(255, 255, 255);
}

.Titel{
    background-color: #f5f5f5;
    text-align: left;
    font-family: "Trebuchet MS";
    font-size: large;
}
.container{
    background-color: #f5f5f5;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Reservering-maken{
    text-align: center;
    margin-top: 5px;
}

.Datum form{
    padding-top: 5px;
    padding-bottom: 0px;
}

.Begintijd form{
    padding-top: 5px;
    padding-bottom: 0px;
}

.Eindtijd form{
    padding-top: 5px;
    padding-bottom: 0px;
}

.Reserveringsnaam{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

.Opmerkingen{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

.Conflicten{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;

}

.Annuleren{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(206, 23, 38);
    color: white;
    padding: 10px 0;
    border: 1px solid rgb(187, 13, 27);
    border-radius: 3px;
    margin-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.Annuleren:hover,
.Annuleren:focus{
    border: 1px solid rgb(146, 2, 14);
    background-color: rgb(173, 15, 28);
}

.Bevestigen{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(3, 150, 35);
    color: white;
    padding: 10px 0;
    border: 1px solid rgb(3, 131, 31);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.Bevestigen:hover,
.Bevestigen:focus{
    border: 1px solid rgb(2, 92, 22);
    background-color: rgb(10, 122, 34);
}