.welcome-message h3 {
    padding-left: 42px;
    font-size: 25px;
    text-align: left;
    margin-bottom: 0px;
}

.welcome-message h6 {
    padding-left: 42px;
    margin-top: 0px;
    text-align: left;
}