
.App {
  background-color: #252837;
  height: 100vh;
}

.App-logo {
  pointer-events: none;
  background: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
