body {
  background-color: #252837;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  /* font-family: bebas Neue; */
  font-size: 42px;
  color: white;
}
h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.29em;
}

/*Navigation Menu*/

.mobile-menu {
  z-index: 999;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  
  height: 70px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0px 0px;
}
.menu-btn {
  background-color: unset;
  margin: auto;
  border: 0;
}
.menu-btn:hover {
  transform: scale(1.1);
}

.home {
  background: linear-gradient(180deg, rgba(255,0,59,1) 0%, rgba(37,40,55,1) 100%);
  padding: 18px;
  border: 0;
  border-radius: 40px;
  height: 70px;
  width: 70px;
  margin-top: -12px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

/*Buttons*/
.add-btn{
  color: white;
  text-transform: uppercase;
  text-align: center;
  
  margin-top: 12px;
  font-size: 10px;
  padding: 12px 28px;
  background: linear-gradient(180deg, #252837 0%, rgba(37, 40, 55, 0.2) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
}

/*Tool-Information*/
.toolInformation{
  background: linear-gradient(348.74deg, rgba(255, 0, 59, 0.4) 17.95%, #FF003B 63.67%);
  width: 100%;
  display: flex;

  padding-bottom: 32px;
}
.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toolInformationText1{
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.toolInformationText2{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.header {
  text-align: center;
  color: white;
  padding: 12px 2px 2px 2px;
}



/*Scroll menu styles*/
.scrollMenu {
  background-color: #252837;
  border-radius: 80px;

  margin-top: -20px;
}
.scrollHeader {
  font-size: 32px;
  text-transform: uppercase;

  color: #FF003B;
  margin: 0 8%;
  padding-top: 20px;
}

.smallStatus {
  background: linear-gradient(348.74deg, rgba(255, 0, 59, 0.4) 17.95%, #FF003B 63.67%);
  height: 24px;
  width: 24px;
  border-radius: 20px;
  margin: 4px;
}